body {
    background-color: #000000;
    /* font-family: sans-serif; */
    font-weight: 600;
    color: rgb(255, 255, 132);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.self-lesson {
    position: relative;
    width: 40em;
    font-size: 250%;
    font-weight: 400;
    margin: 20% auto;
    color: rgb(0, 255, 136);
    opacity: 0;
    z-index: 1;
    animation: intro 5s ease-out;
    text-transform: uppercase;
    text-align: center;
}

@keyframes intro {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.title-star {
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 25%;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    animation: logo 5s ease-out 5s;
}

@keyframes logo {
    0% {transform: scale(1);
        opacity: 1;}
    50% {opacity: 1;}
    100% {transform: scale(0.1);
        opacity: 0;}
}

.titles {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: perspective(300px) rotateX(35deg);   
    }

.titlecontent {
    position: absolute;
    font-size: 300%;
    transform-origin: 50% 100%;
    line-height: 50px;
    top: 100%;
    margin-left: 25%;
    margin-right: 25%;
    animation: scroll 30s linear 8s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

.first-line {
    text-align: center;
    margin-bottom: 20px;
}

.second-line {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

